
      <div class="jumbotron">
        <h1> TaskManager?</h1>
        <p class="lead">Task Overflow? How about using TaskManger ?</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Communicate intelligently</h4>
          <p>Some managers mistakenly believe that barking orders and instilling fear in your staff are the hallmarks of managerial success. But if this is your strategy, you're likely to only succeed in creating a unmotivated, antagonized staff.</p>

          <h4>Accept responsibility</h4>
          <p>Simply put, if you make a mistake, own up to it. Don't be tempted to pass the blame onto employees if it's your error, as this can cause you to lose credibility and trust with your staff.</p>

          <h4>Deal with confrontation</h4>
          <p>Whether it's confronting lagging performance or inter-office disputes, it's up to you to set limits and maintain a harmonious working environment.</p>
        </div>
        <div class="col-lg-6">
          <h4>Praise—and reward—your staff</h4>
          <p>If your sales figures reached or exceeded expectations last month, don't bask in the glory alone. Acknowledge all who had a hand in the success. Nothing motivates like praise and rewards, and there are multiple ways you can reward your staff without breaking the bank.</p>

          <h4>Know when to speak up</h4>
          <p>If you're comfortable handling confrontation, you're likely comfortable presenting an opinion contrary to the status quo. Show enthusiasm for your ideas and point to your track record as a leader and successful entrepreneur, and you should have your staff trusting in your abilities.</p>
        </div>
      </div>
